! Color scheme
#include ".Xresources.d/solarized.dark"

! Fonts
Xft.dpi: 144
URxvt.font: xft:Ubuntu Mono derivative Powerline:size=16

! Other URxvt config
URxvt.scrollBar: false
! Fix paste shortcut
URxvt.keysym.Shift-Control-V: perl:clipboard:paste
URxvt.iso14755: false
URxvt.perl-ext-common: default,clipboard
